.ui {
    width: 300px;
    height: 340px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 0.85;
    color: white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7);
    padding: 3em 1em 2em 1em;
    border: 2px solid black;
    overflow: hidden;
    font-size: 0.75em;
    user-select: none;
    transition: all 0.2s ease;

    background-image: url(/assets/bg1.png), url(/assets/bg2.png);
    background-position: 0 0, 250px 250px;
    background-repeat: repeat;
    -webkit-animation: anim 60s linear infinite;

    @-webkit-keyframes anim {
        from { background-position: 0 0, 0 0; }
	    to { background-position: -500px -500px, 1000px 0px; }
    }

    > * {
        transition: all 0.3s ease;
    }

    &.closed {
        width: 64px;
        height: 64px;
        border-radius: 64px;
        padding: 0;
        cursor: pointer;

        > * {
            opacity: 0;
        }
    }

    i {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0.25em;
        padding: 0.15em;
        color: black;
    }

    > div {
        border-top: 1px solid black;
        padding: 1em 0;

        &::last-child {
            margin-bottom: 2em; 
        }
    }

    h1 {
        font-size: 2.25em;
        color: #FD3809;
        margin: 0 0 0.5em;
        text-align: center;    
    }

    p {
        text-align: center;
        margin: 0;

        &.credits {
            color: #D46A6A;
            margin-bottom: 1em;

            a {
                color: #D46A6A;
                text-decoration: none;

                &:hover {
                    color: #FD3809;
                    text-decoration: none;
                }
            }
        }

        &.instructions {
            color: #ccc;
        }
    }

    button, input {
        background-color: #333;
        color: white;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.8);
    }

    button {
        padding: 0.25em 0.5em;
        margin-right: 0.5em;
    }

    label {
        clear: both;
        display: block;
        margin-bottom: 0.75em;

        label {
            display: inline;
            margin-left: 0.5em;
        }

        span {
            display: inline-block;
            width: 10em;
        }
    }

    input {
        width: 50px;

        &[type=checkbox] {
            width: auto;
        }
    }

    form {
        margin-bottom: 2em;
    }
}

.coordinates {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0 1em;
    color: white;
    // opacity: 0.75;
    background-color: black;

    transition: opacity .15s ease-in-out;

    p {
        &:last-child {
            float: right;
            text-align: right;
        }
        
        float: left;
        width: 50%;
    }
}