.fractal-ui {
    width: 300px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 0.85;
    color: white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7);
    padding: 1em;
    border: 2px solid black;
}

header {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding: 1em 0;
}

h1 {
    color: white;
    margin: 0 0 0.5em;
    text-align: center;    
}

p {
    font-size: 0.75em;
    text-align: center;
    margin: 0;
}

button {
    width: 100%;
}