<section class="fractal-ui">
    <div>
        <h1>Fractal Fun</h1>
        <p>With Angular4, HTML5 Canvas, and Typescript</p>
    </div>

    <div>
        <button (click)="_onRender.emit(true)">Render</button>
        <button (click)="_onReset($event)">Reset</button>
    </div>

    <div>
        <p class="credits">Written using Angular4, HTML5 Canvas</p>
    </div>    
</section>

<!--<p>Screen : {{_mousePos.x}}, {{_mousePos.y}}</p>
<p>Complex: {{_mousePos._a}}, {{_mousePos._b}}</p>
<input type="number" value={{_iterations}} (change)="onIterationChanged($event)">
<input type="number" value={{_complexRadius}} (change)="onComplexRadiusChanged($event)">-->
